<h1><b>Business Management Applications</b></h1>
<table class="table">
	<thead>
		<tr>
			<th><h3>Dev Apps</h3></th>
			<th><h3>BMA Field</h3></th>
			<th><h3>BMA Remote</h3></th>
			<th><h3>BMA SPL</h3></th>
			<th><h3>Admin</h3></th>
			<th><h3>Training</h3></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="https://cksvnprd01.corp.emc.com/confluence/" class="button button3" target=_blank>Confluence></a></td>
			<td><a href="http://pwd-qtoolprd08.corp.emc.com/Systems/RCM_Schedule/schedule.php" class="button" target=_blank>Remote Proactive</a></td>
			<td><a href="http://pld-statuni02.lss.emc.com/gss/" class="button" target=_blank>Global Scheduler</a></td>
			<td><a href="http://myportfoliomanager.corp.emc.com/" class="button" target=_blank>MPM</a></td>
			<td><a href="https://clockwise.corp.emc.com:2010/emc/Clockwise/Ess.htm" class="button" target=_blank>Clockwise</a></td>
			<td><a href="https://app.pluralsight.com/library/" class="button" target=_blank>Pluaralsite</a></td>
		</tr>
		<tr>
			<td><a href="https://cksvnprd01.corp.emc.com/jira/secure/Dashboard.jspa" class="button" target=_blank>JIRA</a></td>
			<td><a href="http://srnavigator.corp.emc.com/Thingworx/Runtime/index.html#mashup=SR_Navigator" class="button" target=_blank>SR Navigator</a></td>
			<td><a href="http://pld-statuni02.lss.emc.com/codered/" class="button" target=_blank>Code Red</a></td>
			<td><a href="http://srms.corp.emc.com/" class="button" target=_blank>SRMS</a></td>
			<td><a href="https://inside.dell.com/welcome" class="button" target=_blank>Inside Dell</a></td>
		</tr>
		<tr>
			<td><a href="https://psapps.emc.com/central/dashboard" class="button" target=_blank>Central(old)</a></td>
			<td><a href="http://srnavigator.corp.emc.com/Thingworx/Runtime/index.html#mashup=Assignment_Too" class="button" target=_blank>One Call Assignment</a></td>
			<td><a href="https://pld-rcaprd01.lss.emc.com/" class="button" target=_blank>RCA</a></td>
			<td></td>
			<td><a href="https://dell.service-now.com/hrportal" class="button" target=_blank>MyHR</a></td>
		</tr>
		<tr>
			<td><a href="https://psapps.slack.com/messages" class="button" target=_blank>Slack</a></td>
			<td><a href="http://srnavigator.corp.emc.com/Thingworx/Runtime/index.html#mashup=Servigistics_Report" class="button" target=_blank>S&amp;AS Real time reporting db</a></td>
			<td><a href="http://qtool.lss.emc.com/" class="button" target=_blank>Qtool</a></td>
			<td></td>
			<td><a href="https://employeeselfservice.corp.emc.com/Employee/Index.aspx" class="button" target=_blank>Pay</a></td>
		</tr>
		<tr>
			<td><a href="https://trello.com/" class="button" target=_blank>Trello</a></td>
			<td></td>
			<td><a href="http://ias012iydyeb/Thingworx/Runtime/index.html#mashup=E2ETool" class="button" target=_blank>WFM UI</a></td>
			<td></td>
			<td><a href="https://myhr.one.dell.com/Global/CRC/Performance/Documents/Performance%20at%20Dell.pdf " class="button" target=_blank>Culture Code</a></td>
		</tr>
		<tr>
			<td><a href="https://apps.system.titan.lab.emc.com/organizations/new" class="button" target=_blank>PCF</a></td>
		</tr>
	</tbody>
</table>
