<!-- Copyright 2017 Dell Inc. or its subsidiaries. All Rights Reserved. -->
<clr-main-container>
  <clr-header class="header-4">
    <!-- NOTE: Temporary navbar -->
    <div class="branding">
      <a href="#"
         class="nav-link">
        <span class="title">Dell EMC</span>
      </a>
    </div>
  </clr-header>

  <div class="content-container">
    <div class="content-area">
      <!--<app-bma></app-bma>   -->
      <router-outlet></router-outlet> 
    </div>
   <!-- <nav class="sidenav" >
      <section class="sidenav-content">
          <section class="nav-group">
              <label for="tabexample2">BMA Navigation</label>
              <ul class="nav-list">
                  <li><a routerLink="bma" class="nav-link active">Applications</a></li>
                  <li><a routerLink="tribe" class="nav-link">Tribe</a></li>
              </ul>
          </section>
      </section>
    </nav>-->
    <clr-vertical-nav [clrVerticalNavCollapsible]="true" >
      <a clrVerticalNavLink routerLink="./bma" routerLinkActive="active">
          <clr-icon clrVerticalNavIcon shape="application" class="is-solid"></clr-icon>
          Applications
      </a>
      <a clrVerticalNavLink routerLink="./tribe" routerLinkActive="active">
          <clr-icon clrVerticalNavIcon shape="plugin" class="has-badge"></clr-icon>
          Playground
      </a>
    </clr-vertical-nav>
  
  </div>

</clr-main-container>
